body {
    background-color: lightblue;
    font-family:monospace;
    justify-content: center;
}

a {
    margin: auto;
}
.nav-link {
    color: black;
    font-size: 40px;
    border-left: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    text-align: center;
}
.nav-link:hover {
    background-color: lightcyan;
    border-left: 2px solid black;
    border-bottom: 2px solid darkslategrey;
}

nav {
    margin-top: 20px;
}

div {
    margin: flex;
}
.reactive-element{
    border-left: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
}
.reactive-element:hover {
    background-color: lightcyan;
    border-left: 2px solid black;
    border-bottom: 2px solid darkslategrey;
}
.nav-item {
    font-size: 40px;
    border-left: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    width: 300px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-item:hover {
    background-color: lightcyan;
    border-left: 2px solid black;
    border-bottom: 2px solid darkslategrey;
}